.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;   /* allow growth beyond screen height */
  position: relative;
  margin-top: 4em;

  padding: 0.5em 0;
  gap: 0.2em;         /* reduce space between battle lines */
}


/* BattleLine wrapper (margin top/bottom for breathing room) */
.BattleLineWrapper {
  margin: 0.1em 0;          /* top + bottom margin */
  width: 100%;              /* so they align properly */
  display: flex;
  justify-content: center;
}


.BtnsContainer {
  position: fixed;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 1100;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5em;
  pointer-events: none; // let clicks pass through empty areas
  > .LeftBtnContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-left: 0.5em;
    pointer-events: auto; // enable clicks on buttons
  }
  > .RightButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin-right: 0.5em;
    pointer-events: auto; // enable clicks on buttons
  }
}
